SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
DATABASE_URL=sqlite:///./data/cabeleleila.db
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=


MAIL_USERNAME=@gmail.com
MAIL_PASSWORD=
MAIL_FROM=
FRONTEND_URL=http://localhost:8000


